# Environment
.env
/backend/services/credentials.json
/backend/services/token.pickle
# Database files
*.db
*.sqlite3
/backend/tests
# Python
__pycache__/
*.pyc
*.pyo
/test
/features
# Virtual environments
.venv/
venv/

# IDE
.vscode/
.idea/

