# Environment
.env
# Database files
*.db
*.sqlite3
/backend/tests
# Python
__pycache__/
*.pyc
*.pyo
/features
# Virtual environments
.venv/
venv/
Sikvenv/
/backend/secrets
# IDE
.vscode/
.idea/
/chroma_db
*.ipynb

